# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
media/
.env
.env.*

# Virtualenv
.venv/
venv/
env/

# Editor / OS
.vscode/
.idea/
*.swp
*.swo

# Pytest
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/
